//default paddings
$defaultPadding: 100px;

// Default colors
$main-color: #000000;
$secondary-color: #ffffff;
$third-color: #f2f2f2;
$contrast-color: #ff4410;

// Default font settings
$font-size-default: 16px;
$font-weight-default: 400;

// layout padding
$outerWrapperPadding: 80px;

$small: 480px;
$medium: 768px;
$large: 1024px;
$extraLarge: 1200px;
$extraExtraLarge: 1440px;
